body {
    background-color: #ffffff;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 800px;
    margin: 80px auto;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(90deg, #ffffff, #cacfcf);
    box-shadow: 9px 9px 15px #454545, -9px -9px 15px #e2e2e2;
    border: 2px inset #ffffff;
}

.flex {
    height: 100%;
    width: 60%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(203, 203, 203) 30%, rgb(221, 227, 227) 50%, rgb(203, 203, 203) 70%, rgba(255,255,255,1) 100%);
    box-shadow: 9px 9px 15px #474747, -9px -9px 15px #000000;
    border-right: 1px inset #ffffff;
}

.flex-2 {
    height: 80%;
    width: 40%;
    margin-top: 10px;
}

.container-main {
    height: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combination {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: inset 0.3px 0.3px 7px #000000, inset -0.3px -0.3px 7px #7e7e7e, 0px 0px 10px 4px rgba(255, 255, 255, 0.75);
    background: linear-gradient(145deg, #050505, #ffffff);
    border: 1px inset #ffffff;
    outline: none !important;
}


.mark {
    width: 20px;
    height: 20px;
    background: linear-gradient(145deg, #050505, #ffffff);
    border-radius: 100%;
    box-shadow: inset 0.3px 0.3px 7px #323232, inset -0.3px -0.3px 7px #7e7e7e, 0px 0px 10px 4px rgba(255, 255, 255, 0.75);
    border: 1px inset #ffffff;
}

.secret {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.secret > .combination:hover {
    cursor: pointer;
    opacity: 0.8;
}

.container-combination {
    width: 100%;
}

.container-combination, .container-mark, .secret {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

.button {
    display: flex;
    flex-direction: column;
}

.button-param {
    margin: 10px;
    height: 50px;
    border-radius: 25px;
    outline: none !important;
    box-shadow: 0px 0px 10px 4px #454545, 0px 0px 10px 4px #e2e2e2;
    background: linear-gradient(180deg, #ffffff, #cacfcf);
    border: 1px inset #ffffff;
}

.button-param:focus {
    box-shadow: none;
    background: linear-gradient(180deg, #707070, #2d2d2d);
    color: white;
}

.msg-loose, .msg-win {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    top: 25%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px #454545, 0px 0px 10px 4px #e2e2e2;
    background: linear-gradient(180deg, #ffffff, #cacfcf);
    border: 1px inset #ffffff;
}

.msg-loose.visible, .msg-win.visible {
    visibility: visible;
    opacity: 1;
}

.msg-loose p, .msg-win p{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.msg-loose a, .msg-win a {
    padding: 1rem;
    text-decoration: none;
    color: #484848;
    border-radius: 30px;
    transition: background-color 0.2s;
    box-shadow: 0px 0px 10px 4px #454545, 0px 0px 10px 4px #e2e2e2;
    background: linear-gradient(180deg, #ffffff, #cacfcf);
    border: 1px inset #ffffff;
}

.msg-loose a:hover, .msg-win a:hover {
    background-color: #cfcfcf;
    text-decoration: none;
    box-shadow: none;
    background: linear-gradient(180deg, #707070, #2d2d2d);
    color: white;
}

.result-game-win, .result-game-loose {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.result-game .combination, .result-game-loose .combination {
    margin-right: 10px;
    margin-left: 10px;
    background: none;
}

.button-selector{
    border-radius: 50%;;
    height: 40px;
    width: 40px;
    transition: all .1s linear;
    outline: none;
    box-shadow: 0px 0px 10px 4px #454545, 0px 0px 10px 4px #e2e2e2;
    background: linear-gradient(180deg, #ffffff, #cacfcf);
    border: 1px inset #ffffff;
}


.button-selector:hover {
    box-shadow: none;
    background: linear-gradient(180deg, #707070, #2d2d2d);
    color: white;
}

